@mixin body($cp,$cs){
    body *{
       &.dark{
           background: $cp;
           color: $cs;
       }
       &.light{
           background: $cs;
           color: $cp;
       }
    }
    }
    